<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
	<Properties>
		<Property name="log4j2.debug">true</Property>
	</Properties>
	<Appenders>
		<RollingFile name="ReaderFile"
			fileName="logs/statementReaders/statementReader.log"
			filePattern="statementReader-%d{HH:mm:ss:SSS}.log">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="120 KB" />
		</RollingFile>

		<RollingFile name="ConfigFile"
			fileName="logs/AppConfig/config.log"
			filePattern="config-%d{HH:mm:ss:SSS}.log">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="120 KB" />
		</RollingFile>
		<RollingFile name="DBinfoFile"
			fileName="logs/sqliteData/DBinfolog.log"
			filePattern="DBinfolog-%d{HH:mm:ss:SSS}.log">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="120 KB" />
		</RollingFile>
		<RollingFile name="MenuinfoFile"
			fileName="logs/optionMenu/MENUinfolog.log"
			filePattern="MENUinfolog-%d{HH:mm:ss:SSS}.log">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="120 KB" />
		</RollingFile>
		<RollingFile name="rootLogFile"
			fileName="logs/rootLogFile.log"
			filePattern="rootLogFile-%d{HH:mm:ss:SSS}.log">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="120 KB" />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="statementReaders" level="info" additivity="true">
			<AppenderRef ref="ReaderFile"></AppenderRef>
		</Logger>
		<Logger name="config" level="info" additivity="true">
			<AppenderRef ref="ConfigFile"></AppenderRef>
		</Logger>
		<Logger name="optionMenu" level="info" additivity="true">
			<AppenderRef ref="MenuinfoFile"></AppenderRef>
		</Logger>
		<Logger name="sqliteData" level="info" additivity="true">
			<AppenderRef ref="DBinfoFile"></AppenderRef>
		</Logger>
		<Root level="debug">
			<AppenderRef ref="rootLogFile"></AppenderRef>
		</Root>

	</Loggers>
</Configuration>